// Colour palette.
// ---------------------------------------------------------

$white: #fff;

$silver-sand-gray: #c4c8cb;

$shuttle-gray: #505e66;

$gable-gray: #162833;

$black: #0a0a1e;


$limeade-green: #72a000;


$sunshade-orange: #ffad2d;


// Named colours.
// ---------------------------------------------------------

$brand-color: $limeade-green;

$accent-color: $sunshade-orange;

$positive-color: #4caf50;

$negative-color: #f44336;
