// Margin sizes.
// ---------------------------------------------------------

$margin-size--xs: 6px;
$margin-size--s: 12px;
$margin-size--m: 24px;
$margin-size--l: 48px;
$margin-size--xl: 96px;

$margin-size: $margin-size--m;


// Widget sizes.
// ---------------------------------------------------------

$widget-size--xs: 24px;
$widget-size--s: 36px;
$widget-size--m: 48px;
$widget-size--l: 60px;
$widget-size--xl: 72px;

$widget-size: $widget-size--m;
