/* Reset float on item headings */
/* ------------------------------------------------------ */

.item__heading {
	display: inline-block;
	float: none !important;
	vertical-align: top;
}


/* Increase margin between sections */
/* ------------------------------------------------------ */

.main__sub-section + .main__sub-section {
	margin-top: 3rem;
}


/* Remove top-margin from the first description <p> */
/* ------------------------------------------------------ */

.item__description p:first-child {
	margin-top: 0;
}


/* Container for rendered pattern previews */
/* ------------------------------------------------------ */

.item__pattern-preview {
	margin-bottom: 1.5rem;
}


/* Organise pattern code into a two-column grid */
/* ------------------------------------------------------ */

.pattern-grid {
	align-items: stretch;
	display: flex;
	justify-content: space-between;
}

.pattern-grid__group {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	justify-content: flex-start;
	width: calc(50% - 0.75rem);
}

.pattern-grid__item {
	background: white;
	flex: 1 0 auto;
	width: 100%;
}


/* Show a language badge in code examples */
/* ------------------------------------------------------ */

.example__code {
	position: relative;
}

.example__code:before {
	background: #e9e9e9;
	border-radius: 0.96em;
	line-height: 1.42;
	opacity: 0.9;
	padding: 0.25em 0.75em;
	pointer-events: none;
	position: absolute;
		top: 0.75em;
		right: 0.75em;
	transition: opacity 0.15s ease;
	z-index: 9;
}

.example__code.language-markup:before {
	content: 'HTML';
}

.example__code.language-scss:before {
	content: 'SCSS';
}

.example:hover .example__code:before {
	opacity: 0;
}
