////
/// @group common
////


/// Causes overflowing text to be replaced with an ellipsis.
///
/// @param {String} $ellipsis [ellipsis] The value for the `text-overflow` property.

@mixin text-overflow($ellipsis: ellipsis) {
	overflow: hidden;
	text-overflow: $ellipsis;
	white-space: nowrap;
}
